<h1> Events </h1>

<ul style = "list-style: none;">
<% @created_events.each do |event| %>
    <li style = "border: 2px solid black;">
        <%= "#{event.title}" %> <br />
        <%= "#{event.place}" %> <br />
        <%= event.date.strftime("%m/%d/%y") %>
        <%= event.time.strftime("%I:%M%p") %>
    </li>
    <br />
<% end %>
</ul>